 <mat-toolbar color="primary">
   <span><a mat-button routerLink="/">My Blog App</a></span>
   <span class="m-right"></span>
   <ul>
     <li *ngIf="userIsAuthenticated">
       <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
     </li>
     <!-- <li *ngIf="userIsAuthenticated">
      <a >Welcome {{authData.email}} </a>
    </li> -->
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup">Register</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-raised-button (click)="onLogout()">Logout</button>
    </li>
   </ul>
 </mat-toolbar>
